<div class="row">
  <section class="12u$">
    <h2 align=center>Countdown</h2>
    <p align=center><span data-countdown-until="08/20/2016, 15:30:00"></span></p>
  </section>
</div>
<hr class="strong">
<div class="row">
  <section class="6u 12u(medium) 12u(small)">
    <h2>Day</h2>
    <p>We cordially request your presence on August 20th, 2016.</p>
  </section>
  <section class="6u 12u(medium) 12u(small)">
    <h2>Time</h2>
    <p>We request your arrival at 4:00pm</p>
  </section>
</div>
<div class="row">
  <section class="12u$">
    <h2>Location</h2>
  </section>
  <section class="7u 12u(small)$">
    <p>
      Nestled in the redwoods along Doolin Creek, at the Gaskin family home.<br><br>
      <a href="https://www.google.com/maps/place/900+Doolan+Canyon+Dr,+Ukiah,+CA+95482/@39.128695,-123.222586,17z/data=!3m1!4b1!4m2!3m1!1s0x808165b02c31d847:0x88586a815f762b16" class="button">Open in Google Maps</a>
    </p>
  </section>
  <section class="5u 12u(small)">
      <img width=100% src="/images/garden.jpg" style="transform:rotateZ(5deg);">
  </section>
</div>
<hr class="strong">
<div class="row">
  <section class="12u$">
    <iframe id="gmap-holder" width="100%" height="400" frameborder="0" style="border:0;" src="https://www.google.com/maps/embed/v1/place?q=900%20Doolan%20Canyon%20Drive%2C%20Ukiah%2C%20CA%2C%20United%20States&key=AIzaSyCfOqHqorn5L-Eyd1bk9TFtZWPwQSswyAo" allowfullscreen></iframe>
  </section>
</div>
